<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
   {{>navbar}}

   {{!-- section starts --}}
   <div class="conatainer-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>ACE </h1>
                        <h1>AT YOUR OWN PACE</h1>
                        <p>We will help you make your carrer by allowing you to choose <span class="bold-style">Professional tutor</span> of your own choice</p>
                        <a href="/services"><button style="font-size: 20px;" class="btn btn-danger"><b>Let's get Started</b></button></a>
                    </div>
                    {{!-- right side --}}
                    <div class="col-md-6 col-12 hero-text order-md-0 order-0">
                        <figure>
                            <img src="images/img1.png" alt="img1" />
                        </figure>
                    </div> 
                </div>
            </div>
        </div>

    </div>

    {{!-- section ends --}}

    <!--FOOTER SECTION STARTS-->

    <div class="footer-div">
      <p class="footer-text">@2023, Tutor<br>Created by - Avneeta Kaur</p>
    </div>

    <!--FOOTER SECTION ENDS-->

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>