<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
   {{>navbar}}

  <!--SERVICE SECTION START-->

    <div class="container-fluid mt-5 about-style" id="serviceid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading" style="color: #5222d0;">SUBJECT EXPERTS</h1>
          <p class="text-center sub-heading" style="font-family :Verdana, Geneva, Tahoma, sans-serif">we have several subject experts just or you</p>
          <div class="row">
             
             <div class="col-md-4">
                <div class="box">
                    <div class="our-services backups">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Physics</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Register and start your lessons today itself</p>
                        </a>
                    </div>
                </div>
             </div>

             <div class="col-md-4">
                <div class="box">
                    <div class="our-services backups">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Chemistry</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Register and start your lessons today itself</p>
                        </a>
                    </div>
                </div>
             </div>

             <div class="col-md-4">
                <div class="box">
                    <div class="our-services backups">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Biology</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Register and start your lessons today itself</p>
                        </a>
                    </div>
                </div>
             </div>

             <div class="col-md-4">
                <div class="box">
                    <div class="our-services backups">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Mathematics</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Register and start your lessons today itself</p>
                        </a>
                    </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="box">
                    <div class="our-services backups">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Social Science</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Register and start your lessons today itself</p>
                        </a>
                    </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="box">
                    <div class="our-services backups">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Science</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Register and start your lessons today itself</p>
                        </a>
                    </div>
                </div>
             </div>


    <div class="container-fluid mt-5 about-style" id="serviceid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading" style="color: #5222d0;">MOCK TEST</h1>
          <p class="text-center sub-heading" style="font-family :Verdana, Geneva, Tahoma, sans-serif">test your knowledge by giving short tests</p>
        
        </div>

        <div class="col-md-4">
                <div class="box">
                    <div class="our-services database">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">MOCK TEST-1</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Physics, Chemistry, Biology</p>
                        </a>
                    </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="box">
                    <div class="our-services database">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">MOCK TEST-2</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Mathematics, Social Science, English</p>
                        </a>
                    </div>
                </div>
             </div>
             

             <div class="col-md-4">
                <div class="box">
                    <div class="our-services database">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">MOCK TEST-3</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Aptitude, English, Physics, Chemistry, Biology</p>
                        </a>
                    </div>
                </div>
             </div>

             <div class="col-md-4">
                <div class="box">
                    <div class="our-services database">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">MOCK TEST-4</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Social Science, English, Science, Aptitude</p>
                        </a>
                    </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="box">
                    <div class="our-services database">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">MOCK TEST-5</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Physics, Chemistry, Biology, Social Science</p>
                        </a>
                    </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="box">
                    <div class="our-services database">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">MOCK TEST-6</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Physics, Mathematics, Chemistry, Biology</p>
                        </a>
                    </div>
                </div>
             </div>
             </div>
             </div></div>

             <div class="container-fluid mt-5 about-style" id="serviceid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading" style="color: #5222d0;">ONE STEP CLOSER TO YOUR DREAM CARRER</h1>
          <p class="text-center sub-heading" style="font-family :Verdana, Geneva, Tahoma, sans-serif">choose your batch for your dream carrer</p>
        
        </div>

        <div class="col-md-4">
                <div class="box">
                    <div class="our-services ssl">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">CAT</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Start preparing for your exam today</p>
                        </a>
                    </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="box">
                    <div class="our-services ssl">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">JEE</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Start preparing for your exam today</p>
                        </a>
                    </div>
                </div>
             </div>
             

             <div class="col-md-4">
                <div class="box">
                    <div class="our-services ssl">
                        <br>
                        <a href="/contact" style="text-decoration:dashed; color:black">
                            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">NEET</h4>
                            <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Start preparing for your exam today</p>
                        </a>
                    </div>
                </div>
             </div>
             </div>
             </div></div>


          </div>
        </div>
      </div>
    </div>

    

    <!--SERVICE SECTION START-->


    <!--FOOTER SECTION STARTS-->

    <div class="footer-div">
      <p class="footer-text">@2023, Tutor<br>Created by - Avneeta Kaur</p>
    </div>

    <!--FOOTER SECTION ENDS-->

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>